.central-item {
    width: 66.66%; 
    margin: 0 auto; 
    padding: 20px;  
}

.central-item img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

p, ul {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

p, ol {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul, li, ul, li {
    font-size: 20px; /* Set the font size to 16 pixels */
    line-height: 1.5; /* Adjust line height for better readability */
}

.large-button {
    display: inline-block;
    padding: 15px 30px;
    margin-bottom: 18px;
    background-color: #683d06;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.large-button:hover {
    background-color: #8f5d00;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.large-button:active {
    background-color: #1e7e34;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}



@media screen and (max-width: 768px) {

.central-item {
    width: 85%; 
    margin: 0 auto; 
    padding: 20px;  
}


h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

p, ul {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

p, ol {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

ul {
    list-style-type: disc;
    margin-left: 2px;
}

ul, li, ul, li {
    font-size: 16px; /* Set the font size to 16 pixels */
    line-height: 1.5; /* Adjust line height for better readability */
}


}