/* ==========================
   Map Styling
   ========================== */
   .cmm-usa {
    display: none;
    margin: 0 auto;
    position: relative;
    padding: 10px;
}

.cmm-usa svg {
    width: 100%;
    z-index: 99;
}

.cmm-usa svg path {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.cmm-usa-hover-state-info {
    position: relative;
    margin: -40px auto 20px auto;
    display: none;
    box-sizing: border-box;
    padding: .75em;
    width: 300px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 20px #999;
    font-size: 14px;
    z-index: 100;
}

.cmm-usa-hover-state-info span {
    display: block;
    line-height: 1.5em;
}

.cmm-usa-hover-state-info span:first-child {
    font-weight: bold;
    text-align: center;
}

/* ==========================
   State List Styling
   ========================== */
#state-list {
    width: 60%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center;
}

#state-list h2 {
    font-size: 2em;
    color: #8b4513;
    margin-bottom: 20px;
}

.state-list-container {
    display: flex;
    justify-content: space-between;
}

.state-list-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.state-list-container ul li {
    text-align: left; /* Align text to the left */
    margin-bottom: 10px;
}

.state-list-container ul li a {
    color: #8b4513;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s, background-color 0.3s; /* Transition for smooth hover effect */
}

.state-list-container ul li a:hover {
    color: white; /* Change text color on hover */
    background-color: #8b4513; /* Change background color on hover */
    padding: 5px 1px; /* Add padding for better visual effect */
    border-radius: 5px; /* Add border radius for smoother look */
}

/* ==========================
   Miscellaneous Styling
   ========================== */
.backgroundFill {
    opacity: 0;
}

.rockhounding-post {
    font-family: 'Arial', sans-serif; /* Choose the same font-family as the rest of the page */
    line-height: 1.6;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* ==========================
   Mobile Optimizations
   ========================== */
/* General Mobile Styles */
@media (max-width: 768px) {
    .cmm-usa {
        width: 90% !important;
    }

    .cmm-usa-listview ul li a.cmm-usa-live-link {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        font-size: 10px;
    }

    .cmm-usa-listview ul li span {
        display: flex;
        position: relative;
        height: 12px;
        width: 12px;
        border-radius: 12px;
        color: black;
        text-align: center;
        line-height: 12px;
        font-weight: bold;
        border: 1px solid #999;
        opacity: 1.0;
        margin-right: 0.5em;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }

    .rockhounding-post {
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
        margin: 0 auto;
        max-width: 1200px;
        padding: 20px;
        text-align: left;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
}

/* State List Mobile Styles */
@media (max-width: 768px) {
    #state-list {
        width: 60%;
        padding: 15px;
    }

    #state-list h2 {
        font-size: 1.5em;
    }

    .state-list-container {
        flex-direction: column; /* Stack columns vertically */
    }

    .state-list-container ul {
        flex: 1 1 100%; /* Each column will take 100% of the width */
        min-width: auto; /* Remove minimum width */
    }

    .state-list-container ul li a {
        font-size: 1em; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .state-list-container ul li a {
        font-size: 0.9em; /* Further adjust font size for very small screens */
    }
}
