.main-section {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

h3 {
  display: block;
  font-size: 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  color: #8B4513;
}

.sub-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 60px;
  margin-bottom: 40px;
  margin-right: 60px;
}

.sub-section h2 {
  font-family: 'Cinzel', serif;
  font-size: 28px;
  color: #8B4513;
  margin-bottom: -10px;
  text-align: left;
}

.sub-section h1 {
  font-family: 'Cinzel', serif;
  font-size: 28px;
  color: #8B4513;
  align-items: center;
  margin-bottom: -10px;
  margin-top: 0;
  text-align: center;
}

.sub-section img {
  width: 200px;
  height: auto;
  margin-right: 20px;
  float: left;
}

.sub-section p {
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  color: #333;
  margin-bottom: 15px;
  text-align: left;
}

.sub-section ul {
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  color: #333;
  margin-bottom: 15px;
  text-align: left;
}

.sub-section .button {
  display: inline-block;
  font-family: 'Cinzel', serif;
  font-size: 18px;
  background-color: #8B4513;
  color: #F0E68C;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.sub-section .button:hover {
  background-color: #6A350A;
  color: #F0E68C;
}

.three-image-gallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.top-grid p {
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  color: #333;
  margin-bottom: 15px;
}

.top-grid h2 {
  font-family: 'Cinzel', serif;
  font-size: 28px;
  color: #8B4513;
  margin-bottom: 15px;
  margin-top: 0;
}

.rock-image {
  width: 200px !important; 
  height: auto !important;
  float: right !important; 
  margin-right: 20px !important; 
  padding-left: 5px !important;
}


.three-image-gallery .gallery {
  width: calc(100% / 3 - 10px);
  height: auto;
  margin-bottom: 15px;
}

.non-gallery {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.banners {
  color: #333333;
  text-align: center;
  padding: 40px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 30px;
  margin-bottom: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  
}
.banners a {
  display: inline-block;
  font-family: 'Cinzel', serif;
  font-size: 18px;
  background-color: #8B4513;
  color: #F0E68C;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.banners p {
  font-size: 20px;
  font-weight: 500px !important;
}

.banners h2 {
  font-size: 30px;
}

.map {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.map-iframe {
  width: 880px;
  height: 720px;
}


/* Add a media query for mobile devices */
@media (max-width: 768px) {
  .main-section {
    margin: 24px 16px;
  }

  .sub-section {
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
  }

  .sub-section h2 {
    font-size: 24px;
  }

  .sub-section img {
    width: 100%; /* Update the width */
    margin-right: 0; /* Update the margin-right */
    float: none; /* Reset the float property */
  }

  .sub-section p {
    font-size: 16px;
  }

  .sub-section h2 {
    font-size: 18px;
    margin-bottom: 0px;
  }

  .sub-section h1 {
    font-size: 22px;
  }

  .sub-section .button {
    font-size: 16px;
    padding: 8px 16px;
  }

  .three-image-gallery {
    flex-direction: column;
  }

  .three-image-gallery .gallery {
    width: 100%;
    margin-bottom: 10px;
  }

  .non-gallery {
    width: 100%;
  }
  .rock-image {
    width: 100% !important;
    float: inline-end !important;
  }

  
.banners {
  margin-left: 20px;
  margin-right: 20px;
  }

}
